.JobCard {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    height: 170px;
    margin: 20px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
}

.JobCard h4 {
    padding: 5px;
    margin-bottom: 10px;
    background-color: rgb(158, 136, 236);
    color: white;
    min-height: 40px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.JobCard p {
    width: 100%;
}

.JobCard a {
    width: 100%;
}

.JobCard-req {
    font-size: .7em;
}

.JobCard-apply {
    margin: 9px;
    height: 32px;
    width: 80px;
    background-color: #85c3c2;
}

.JobCard-applied {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: rgb(45, 136, 45);
    
}

.fa-check-circle {
    font-size: 1.5em;
}